name: Build and deploy .NET app to Azure Web App

env:
  AZURE_WEBAPP_NAME: imapps-01
  AZURE_WEBAPP_PACKAGE_PATH: release
  DOTNET_VERSION: '9.0.x'

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}

    - name: Restore
      run: dotnet restore WebApp01.csproj

    - name: Build
      run: dotnet build WebApp01.csproj --no-restore --configuration Release

    - name: Test
      run: dotnet test WebApp01.csproj --no-build --configuration Release --verbosity normal

    - name: Publish
      run: dotnet publish WebApp01.csproj --no-build --configuration Release --output release

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: dotnet-app
        path: release

  deploy-to-dev:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: Dev
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
    - name: Download artifact
      uses: actions/download-artifact@v4
      with:
        name: dotnet-app
        path: release

    - name: Deploy to Azure Web App
      id: deploy-to-webapp
      uses: azure/webapps-deploy@v2
      with:
        app-name: ${{ env.AZURE_WEBAPP_NAME }}
        publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
        package: release
