name: Continuous Integration - .NETV6

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

env:
  DOTNET_VERSION: '9.0.x'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}

    - name: Restore dependencies
      run: dotnet restore WebApp01.sln

    - name: Build
      run: dotnet build WebApp01.sln --no-restore --configuration Release

    - name: Test
      run: dotnet test WebApp01.sln --no-build --configuration Release --verbosity normal

    - name: Publish
      run: dotnet publish WebApp01.csproj --configuration Release --output ./publish

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: dotnet-webapp01
        path: publish
